@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000000; /* Μαύρο background */
  color: #FFFFFF; /* Άσπρο κείμενο */
  background-image: url('C:\Users\tyfliorisf\Desktop\paranoid-reverb-site\public\photos/bg.jpg'); /* Προσθήκη εικόνας */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #228B22; /* Forest Green */
}

/* Navbar Styles */
.navbar {
  background-color: #228B22;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}